	<ion-view view-title="Categorias" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"  scroll="true"   id="page-categories" class=" page-categories">
		<!-- code refresh -->
<ion-refresher pulling-text="Refescando sitio..."  on-refresh="doRefresh()"></ion-refresher>
<!-- ./code refresh -->


<!-- code search -->
<ion-list class="card list" >
	<div class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" ng-model="filter_categories.name" placeholder="Buscar" aria-label="filter categories" />
	</div>
</ion-list>
<!-- ./code search -->


<!-- code listing -->
<div class="card list light-bg animate-none">
	<a class="item ink-colorful item-icon-left" ng-repeat="item in categories | filter:filter_categories as results" ng-init="$last ? fireEvent() : null" ng-href="#/informacin_y_control_de_gestin/posts/{{item.id}}" >
		<i class="icon colorful ion-social-buffer"></i>
		<span ng-bind-html="item.name | to_trusted"></span>
        <span class="badge badge-assertive" >{{item.count}}</span>
	</a>
</div>
<!-- ./code listing -->

<!-- code infinite scroll -->
<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
<!-- ./code infinite scroll -->

<!-- code search result not found -->
<ion-list ng-if="results.length == 0" class="list card">
	<div class="item"  >
		<p>No se han encontrado resultados...!</p>
	</div>
</ion-list>
<!-- ./code search result not found -->


		</ion-content>
		<!-- ./content -->
	</ion-view>
