	<ion-view view-title="Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-slide_tab_menu" class=" page-slide_tab_menu">
			<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Panel" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/informacin_y_control_de_gestin/inicio" >
								<i class="icon ion-social-buffer" ></i>
								<h2>Inicio</h2>
								<span class="item-note pull-left">Lista de </span>
							</a>
							<a class="item item-icon-left" ng-href="#/informacin_y_control_de_gestin/posts/-1" >
								<i class="icon ion-clipboard" ></i>
								<h2>Noticias</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/informacin_y_control_de_gestin/post_bookmark" >
								<i class="icon ion-android-favorite" ></i>
								<h2>Favoritos</h2>
								<span class="item-note pull-left">favoritos</span>
							</a>
							<a class="item item-icon-left" ng-click="openAppBrowser('http://sitio2.informacion.in/cursos/')" >
								<i class="icon ion-clipboard" ></i>
								<h2>Actividades</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/informacin_y_control_de_gestin/eventos" >
								<i class="icon ion-android-calendar" ></i>
								<h2>Eventos</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openAppBrowser('http://sitio2.informacion.in/galeria-fotos/')" >
								<i class="icon ion-images" ></i>
								<h2>Galerias</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="Ayuda" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-click="openAppBrowser('http://sitio2.informacion.in/plan-estudios/')" >
								<i class="icon ion-android-playstore" ></i>
								<h2>Plan Estudio</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/informacin_y_control_de_gestin/about_us" >
								<i class="icon ion-help-buoy" ></i>
								<h2>Nosotros</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/informacin_y_control_de_gestin/contacto" >
								<i class="icon ion-information-circled" ></i>
								<h2>Contacto</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
